
 <h1>Great!</h1>

 <p>Thanks for signing up to the event: <strong><%= @opportunity.name %> on <%= @opportunity.datetime.strftime("%B %d, %Y") %></strong>.</p>

 <p>We look forward to seeing you there. Thank you for making the world a better place.</p>