
<h1>Check out these opportunities!</h1>
<h3>Which one would you like to participate in?</h3>
<% @matches.each do |match| %>
    <button><%= match.name %> on <%= match.datetime.strftime("%B %d, %Y")  %></button>
<% end %>


