<header id="header">
  <h1>Login</h1>

  <%= form_tag(sessions_path) do %>
    <input type="text" id="new-todo" name="email" placeholder="Facebook Username" />
    <input type="password" id="new-todo" name="password" placeholder="Your Password" />
    <button type="submit">    
  <% end %>
</header>